pkgbase = luxcorerender-bin
	pkgdesc = LuxCoreRender is a physically correct, unbiased rendering engine (official binary version).
	pkgver = 2.5
	pkgrel = 1
	arch = x86_64
	license = apache
	makedepends = python
	depends = embree
	depends = openimagedenoise
	depends = gtk3
	optdepends = ocl-icd: for gpu acceleration
	optdepends = cuda: for OptiX/CUDA acceleration
	optdepends = python: for pyluxcoretools
	provides = luxcorerender=2.5
	conflicts = luxcorerender
	source = https://github.com/LuxCoreRender/LuxCore/releases/download/luxcorerender_v2.5/luxcorerender-v2.5-linux64.tar.bz2
	source = https://github.com/LuxCoreRender/LuxCore/releases/download/luxcorerender_v2.5/luxcorerender-v2.5-linux64-sdk.tar.bz2
	sha256sums = 7732a2eecb64cfe3e04699dd048b3b8fb2cefcc3a31aadf3c501789d470e68c1
	sha256sums = ec9a262864899da0f8713654bfd67036d902dd0bc73ecdf738698d64cbf1dee9

pkgname = luxcorerender-bin

